@using Microsoft.AspNetCore.Identity;
@using Thesis.Models;
@inject UserManager<User> userManager
@inject Thesis.Data.ApplicationDbContext _context
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @{
        var rv = ViewContext.RouteData.Values;
    }
    <header class="header">
        <div class="container">
            <div class="header-logo">
                <img src="~/images/ball.png" alt="">
            </div>
            <div class="header-title">
                <span>WinnerStays</span>
            </div>
            <ul class="header-menu">
                <li class="header-menu-item @(rv["Controller"].ToString() == "Home" ? "active" : "")">
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="header-menu-item">
                    <a asp-controller="Map" asp-action="Index">Карта</a>
                </li>
                <!-- TODO: переключение active -->
                <li class="header-menu-item @(rv["Controller"].ToString() == "Filter" ? "active" : "")">
                    <a asp-controller="Filter" asp-action="Index">Поиск</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    var userRoles = userManager.GetRolesAsync(_context.Users.First(t => t.UserName == User.Identity.Name)).Result;
                    if (userRoles.Contains("Admin"))
                    {
                        <li class="header-menu-item @(rv["Controller"].ToString() == "Admin" ? "active" : "")">
                            <a asp-controller="Admin" asp-action="Index">Панель администратора</a>
                        </li>
                    }
                }
            </ul>
            <!-- Разделение в зависимости от роли пользователя-->
            <div class="header-auth">
                @if (User.Identity.IsAuthenticated)
                {
                    var curUser = _context.Users.First(t => t.UserName == User.Identity.Name);
                    curUser.Avatar = _context.Files.First(t => t.Id == curUser.AvatarId);

                    <div class="header-auth-profile">
                        <img src="@curUser.Avatar.Path" alt="" style="border-radius: 50%">
                        <ul class="header-auth-profile-menu">
                            <li class="header-auth-profile-menu-item">
                                <a asp-controller="Auth" asp-action="Profile">Профиль</a>
                            </li>
                            <li class="header-auth-profile-menu-item">
                                <form method="post" asp-controller="Auth" asp-action="Logout" class="logout-form">
                                    <input type="submit" value="Выйти" />
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="header-auth-link">
                        <a asp-controller="Auth" asp-action="Signin">Авторизация</a>
                    </div>
                }
            </div>
            <!-- /Разделение в зависимости от роли пользователя-->
            @*TODO: добавить кнопку админской панели*@
        </div>
    </header>

    @RenderBody()

    <footer class="footer" id="footer">
        <div class="container">
            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a href="#">О проекте</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#">Условия использования</a>
                </li>
            </ul>
            <div class="footer-year">2019</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="~/js/script.js"></script>

</body>
</html>